mixin input-text(props)
  - const blockName = 'input-text'
  - const {type, name, label, autocomplete, mods} = props
  include ../../pug/allMods

  if (type === 'textarea')
    label.input-text(class=allMods)
      textarea.input-text__input(
        name=name,
        placeholder=' ',
        autocomplete=autocomplete
      )&attributes(attributes)= value
      .input-text__label= label
  else
    label.input-text(class=allMods)
      input.input-text__input(
        type=type,
        name=name,
        placeholder=' ',
        autocomplete=autocomplete
      )&attributes(attributes)
      .input-text__label= label

//- Вызов:

  +input-text({
    type: 'text',
    name: 'name',
    label: 'Имя',
    autocomplete: 'off',
    mods: 'textarea'
  })