mixin image(props)
  - const {src, alt, cover, lazy} = props
  - const srcWithHash = `${src}${currentHash ? `?v=${currentHash}` : ''}`

  if (lazy)
    img.lazyload(class=cover ? 'image--cover' : false, data-src=srcWithHash, alt=alt || 'alt')&attributes(attributes)
  else
    img(class=cover ? 'image--cover' : false, src=srcWithHash, alt=alt || 'alt')&attributes(attributes)

//- Вызов:

  +image({
    src: 'https://picsum.photos/id/10/300/300',
    alt: 'alt',
    cover: true,
    lazy: true
  })