mixin og-props({imgSrc, width, height, alt, title, description})
  meta(property='og:image' content=imgSrc)
  meta(property='og:image:secure_url' content=imgSrc)
  meta(property='og:image:type' content='image/jpeg')
  meta(property='og:image:width' content=`${width || 400}`)
  meta(property='og:image:height' content=`${height || 300}`)
  meta(property='og:image:alt' content=`${alt || 'alt'}`)
  meta(property='og:title' content=title)
  meta(property='og:description' content=description)

//- Вызов:

  +og-image({
      imgSrc: 'http://example.jpg'
    })

  +og-image({
      imgSrc: 'http://example.jpg',
      width: 400,
      height: 300,
      alt: 'alt',
      title: 'title',
      description: 'description'
    })