mixin input-with-label(type, inputName, label, value, dataValidate, className)
  .c-input-with-label
    input(type=type, name=inputName, value=value, data-validate=dataValidate, class=className, autocomplete='off')
    label= label