mixin select(selectName, placeholder, options, dataValidate, className)
  select(name=selectName, data-placeholder=placeholder, data-validate=dataValidate class=className)
    each text, value in options
      option(value=value)= text